@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1e252d;
  --foreground: #ffffff;

  --card: #2d3844;
  --card-foreground: #ffffff;

  --primary: #4c9fd8;
  --primary-foreground: #ffffff;

  --secondary: #3d4957;
  --secondary-foreground: #ffffff;

  --accent: #c01e1e;
  --accent-foreground: #ffffff;

  --muted: #232c38;
  --muted-foreground: #9ca3af;

  --border: #3d4957;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

